kosmos-2_5-container-files/prebuilt_wheels/flash_attn-2.5.9.post1-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
kosmos-2_5-container-files/prebuilt_wheels/xformers-0.0.22+04de99b.d20240705-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
